/* style here apply to element for content*/

/*index.php*/
#photo{
    width:5em;
    height:5em;
    margin:0.5em;
    float:left;
}


/*skillshow.php*/
.carousel-item img{
    height:20em;
}
.card img{
    height:15em;
}

/*Icon colour*/
#gmIco{
    color:#c71610;
}
      #ghIco{
    color:#171515;
}
      #liIco{
    color:#0072b1;
}
      #waIco{
    color:#25D366;
}

