:root{
    --tr: top 3s linear 2.5s;
    
}
#auth{
    position: fixed;
    top: -50vh;
    left: 5vw;
    width: 90vw;
    height: 50vh;
    border-radius: 0em 1em 1em 1em;
    background-color: #b1a698;
    z-index: 100;
    transition: var(--tr);
    -o-transition: var(--tr);
    -moz-transition: var(--tr);
    -webkit-transition: var(--tr);
}
#close{
    margin: 0px;
    color: #ff0000;
    background-color: #000000;
    border-radius: 0 0 0.5rem 0;
}
/*Addition styling to content of the notification*/
#auth section{
    padding: 0 1rem;
    margin-top: 3vh;
    font-style: oblique;
    font-size: 1em;
}
#auth a{
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2vh;
    padding: 0px;
    border: 1px inset #1A62D1;
    border-radius: 0.5rem;
}
#auth section button{
    width: 100%;
    height: 10%;
    margin: 0px;
    padding: 0px;
    border-radius: 0.5rem;
    font-size: 1em;
    font-style: oblique;
    text-align: center;
}
#auth a:link, #auth a:visited{
    color: black;
    text-decoration: none;
}

@media screen and (min-width:780px){
    #auth{
        width: 50vw;
        left: 25vw;
    }
}